.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}



.question {
  width: 290px;
  height: 200px;
  margin-top: 135px;
  font-size: 20px;
  text-align: center;

  display: flex;
  align-items: center;     
  justify-content: center; 
}

.question p {
  margin: 0;
}

.popup-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.mothin_start {
  background-image: url("../../../assets/PopUp/motion_button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 290px;
  height: 77px;
  background-color: #007bff00;
  border: none;
  margin: auto;
  padding: 0;
}

.controls {
  width: 400px;
  display: flex;
  margin-top: 20px;
}

.controls button:active {
  transform: scale(0.98);
}

/* --- ポップアップ関連のスタイル --- */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.popup-img {
  background-image: url("../../../assets/PopUp/ans_popup.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  width: 400px;
  border-radius: 15px;
  text-align: center;
  animation: fadeInZoom 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
